body {
  background-color: $light-green;
}

h1 {
  display: block;
  text-align: center;
  color:$pip-color;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
}

[class*="face"] {
  @extend %tile;
  padding: 15px;
}

.pip {
  @include roundy(12.5px);
  display: block;
  max-width: 25px;
  flex-grow: 1;
  height: 25px;
  max-height: 25px;
  width: 25px;
  background: $pip-color;
}

.first-face {
  justify-content: center;
  align-items: center;
}

.second-face {
  justify-content: space-between;
  .pip:last-child {
    align-self: flex-end;
  }
}

.third-face {
  justify-content: space-between;
  .pip {
    &:nth-child(2) {
      align-self: center;
    }
    &:last-child {
      align-self: flex-end;
    }
  }
}

.fourth-face {
  justify-content: space-between;
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.fifth-face {
  justify-content: space-between;
  .column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .column:nth-child(2) {
    align-self: center;
  }
}

.sixth-face {
  justify-content: space-between;
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
