
//mixins

@mixin roundy($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

//placeholders

%tile {
  @include roundy(15px);
  width: 150px;
  height: 150px;
  min-width: 150px;
  background-color: $die-color;
  border: 2px solid $border-color;
  display: flex;
  margin: 8px;
}
