//color names
$black: black;
$blue-grey: #546A76;
$light-green: #C8DDC7;
$cream: #F4EBE1;

//color uses
$pip-color: $blue-grey;
$die-color: $cream;
$border-color: $pip-color;
$background-color: $light-green;

//
